[submodule "docs/ld38"]
	path = docs/ld38
	url = https://github.com/pontus-persson/ld38.git
[submodule "docs/ld39"]
	path = docs/ld39
	url = https://github.com/pontus-persson/ld39.git
[submodule "docs/playground/sierpinski"]
	path = docs/playground/sierpinski
	url = https://github.com/pontus-persson/sierpinski-triangle.git
[submodule "docs/playground/vektor"]
	path = docs/playground/vektor
	url = https://github.com/pontus-persson/vektor.git
[submodule "docs/playground/threejs-panorama"]
	path = docs/playground/threejs-panorama
	url = https://github.com/pontus-persson/threejs-panorama.git
[submodule "docs/playground/sudoku"]
	path = docs/playground/sudoku
	url = https://github.com/pontus-persson/sudoku.git
