body {
    overflow: hidden;
	background-color: #334455;
    color: white;
}

#slidecontainer {
    position: fixed;
    right: 0;
    top: 0;
    padding: 1em;
    background-color: rgba(33, 33, 33, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h4 {
    margin: 0 0 .4em 0;
}